<po-page-default p-title="Resultados modelos de classificação de região">
    <h2>Dados originais vs Dados Balanceados</h2>
    <div class="po-row">
        <div class="po-md-3">
            <po-select name="metric" p-label="Métrica" p-placeholder="Precisão" (p-change)="onMetricChange($event)"
                [p-options]="label_metrics" [p-required]="false">
            </po-select>
        </div>
    </div>
    <div style="max-width: 1200px; overflow: auto">
        <div echarts [options]="graphOptions" [merge]="updatedOptions" [autoResize]="false" [initOpts]="{width: 2000 }">
        </div>
    </div>
    <h2>Dados Balanceados: teste vs validação</h2>
    <div style="max-width: 1200px; overflow: auto">
        <div echarts [options]="balancedGraphOptions" [merge]="balancedUpdatedOptions" [autoResize]="false" [initOpts]="{width: 2000 }">
        </div>
    </div>
    <h2>Matriz de confusão KNN</h2>    
    <div id="knn_confusion_matrix"></div>
    <h2>Feature Importances</h2>
</po-page-default>