<po-page-default p-title="Sobre o Projeto">
    <div class="po-row">
        <div class="po-xl-8 po-lg-8 po-md-8 po-sm-8">
            <img src="assets/about_head.jpg" alt="Logo do Projeto" class="main-image">
        </div>
    </div>
    <div class="po-row">
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <p>
                O presente projeto foi desenvolvido como trabalho de conclusão de curso (TCC) da
                <a href="https://www.pucminas.br/PucVirtual/Pos-Graduacao/Paginas/Inteligencia-Artificial-e-Aprendizado-de-Maquina.aspx"
                    target="_blank">Especialização em Inteligência Artificial da PUC Minas</a>.
            </p>
        </div>

        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <p>Através dos dados do <a href="https://worldhappiness.report/" target="_blank">Relatório de Felicidade
                    Mundial</a>
                de 2021 realizado pela ONU, possui os seguntes objetivos: </p>
        </div>
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <ol>
                <li>Realizar a predição do score de felicidade de um país baseado nos índices obtidos pela pesquisa;
                </li>
                <li>Identificar a região do mundo em que um país se encontra através da relação dos índices com o score
                    de
                    felicidade;</li>
                <li>Analisar o impacto da pandemia nos dados da pesquisa em 2020 e 2021.</li>
            </ol>
        </div>
    </div>

    <div class="po-row">
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <p>Mais detalhamentos sobre a motivação do projeto e a descrição dos dados podem ser encontrados <a
                    href="https://github.com/SalatielBairros/world-happiness-report/blob/main/docs/RelatorioTecnico.pdf"
                    target="_blank">aqui</a>, enquanto as etapas de tratamento dos dados podem ser obtidas <a
                    href="https://github.com/SalatielBairros/world-happiness-report/blob/main/data_ingestion/whr_data_ingestion.py"
                    target="_blank">aqui</a>. Já descrições sobre publicação dos modelos, API e frontend estão em seus
                respectivos repositórios.</p>
        </div>
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <blockquote>Devido a publicação tanto da API quanto do Front estarem em servidores gratuítos da Azure o
                tempo de resposta dos endpoints é maior do que o comum.</blockquote>
        </div>
    </div>
    <div class="po-row">
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <h2>Links para o projeto</h2>
        </div>
    </div>
    <div class="po-row">
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <ul>
                <li><a href="https://github.com/SalatielBairros/world-happiness-report" target="_blank">Repositório
                        Backend
                        GitHub</a></li>
                <li><a href="https://github.com/SalatielBairros/frontend-world-happiness-report"
                        target="_blank">Repositório
                        Frontend GitHub</a></li>
                <li><a href="https://tcc-world-happines-report.azurewebsites.net/docs" target="_blank">Swagger API</a>
                </li>
                <li><a href="https://github.com/SalatielBairros/world-happiness-report/raw/main/docs/RelatorioTecnico.pdf" target="_blank">Relatório completo do projeto</a>
                </li>
                <li><a href="https://github.com/SalatielBairros/world-happiness-report/tree/main/docs/api_return_samples" target="_blank">Exemplos dos retornos da API</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="po-row">
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <h2>Autores</h2>
        </div>
    </div>
    <div class="po-row">
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <ul>
                <li><a href="https://www.linkedin.com/in/salatiel-bairros/" target="_blank">Salatiel Bairros</a></li>
                <li><a href="https://www.linkedin.com/in/allanfoppa/" target="_blank">Allan Foppa</a></li>
            </ul>
        </div>
    </div>
    <div class="po-row">
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <h2>Agradecimentos</h2>
        </div>
    </div>
    <div class="po-row">
        <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12">
            <ul>
                <li><a href="https://www.linkedin.com/in/gisela-bairros/" target="_blank">Gisela Bairros</a></li>
                <li><a href="https://www.linkedin.com/in/leonardo-belintani/" target="_blank">Leonardo Belintani</a>
                </li>
            </ul>
        </div>
    </div>
</po-page-default>