body {
    color: #333;
    font-size: 14px;
    font-family: Roboto;
}

p {
    margin-bottom: 10px;
}

blockquote {
    border-left: 5px solid #c9357d;
    margin: 5px 0 20px;
    padding: 10px 20px;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 10px;
    font-weight: 400;
}

a {
    color: #c9357d;
    cursor: pointer;
    text-decoration: none;
}

h2 {
    margin-top: 16px;
}

div {
    &.no-data {
        height: 100px;
        width: 90%;
        text-align: center;
        margin-left: 8px;
        border: 1px solid #dadedf;
        padding-top: 36px;
        font-weight: bold;
    }
}