<po-page-default p-title="Visão geral dos dados">
    <div class="po-row">
        <div class="po-md-3">
            <po-select name="selectedMetric" p-label="Métrica para visualização" p-placeholder="Score"
                (p-change)="onMetricChange($event)" [p-options]="[
            { label: 'Score', value: 'score' },
            { label: 'GDP', value: 'gdp' },
            { label: 'HLE', value: 'hle' },
            { label: 'Liberdade', value: 'freedom' },
            { label: 'Generosidade', value: 'generosity' },
            { label: 'Corrupção', value: 'corruption' },
            { label: 'Suporte Social', value: 'social_support' },
            { label: 'Afeição Positiva', value: 'positive_affect' },
            { label: 'Afeição Negativa', value: 'negative_affect' }
        ]">
            </po-select>
        </div>
        <div class="po-md-3">
            <po-select name="country" p-label="Pais" p-placeholder="Selecione um país"
                (p-change)="onCountryChange($event)" [p-options]="countries" [p-required]="false">
            </po-select>
        </div>

        <div class="po-md-3">
            <po-select name="region" p-label="Região" p-placeholder="Selecione uma região"
                (p-change)="onRegionChange($event)" [p-options]="regions">
            </po-select>
        </div>
        <div class="po-md-3 custom-button">
            <div class="po-field-container-title"><span class="po-field-title">&nbsp;</span></div>
            <po-button p-label="Filtrar" (p-click)="onClickFilter()"> </po-button>
        </div>
    </div>


    <div echarts [options]="graphOptions" [merge]="updatedOptions" *ngIf="currentGraphData.length > 0"></div>
    <div class="no-data" *ngIf="currentGraphData.length == 0">
        <span *ngIf="!graphLoading">Não há dados para serem exibidos.</span>
        <span *ngIf="graphLoading">Carregando...</span>
    </div>

    <div class="po-row">
        <div class="po-md-12">
            <p>O gráfico acima mostra o comportamento das métricas ao longo do tempo na pesquisa. É possível filtrar por
                região do mundo ou por um país. Note que os valores não possuem alterações significativas e mesmo
                tendências de alta ou queda são bastante suaves.</p>
        </div>
    </div>


    <div class="po-row">
        <div class="po-md-12">
            <h2>Matriz de correlação</h2>
        </div>
    </div>
    <div class="po-row">
        <div class="po-md-12">
            <p>Abaixo podemos ver as correlações entre os dados. Ainda que não se possa extrair causalidade de
                correlações, as mesmas se mostram dentro do que é possível esperar intuitivamente: GDP e o Score possuem
                uma correção positiva, enquanto Freedom e Corruption negativa.</p>
        </div>
    </div>
    <div class="po-row">
        <div class="po-md-12" [hidden]="loadingCorrelations">
            <div id="corr_matrix"></div>
        </div>
        <div class="po-md-12" *ngIf="loadingCorrelations">
            <div class="no-data">
                <span>Carregando...</span>
            </div>
        </div>
    </div>
    <div class="po-row">
        <div class="po-md-12">
            <h2>Dados processados</h2>
        </div>
        <div class="po-md-12">
            <p>Por fim, segue a tabela com os dados completos para fins de consulta.</p>
        </div>
    </div>
    <div class="po-row">
        <div class="po-md-12">
            <po-table [p-items]="view_items" (p-show-more)="onShowMore($event)" [p-loading]="tableLoading"
                [p-loading-show-more]="showMoreLoading" [p-columns]="columns" p-container="shadow"
                [p-literals]="customLiterals" [p-striped]="true" [p-sort]="true" (p-sort-by)="onTableSorting($event)">
            </po-table>
        </div>
    </div>
</po-page-default>